.section3
    h2
        font-size: 30px
        font-weight: bold
        padding: 80px
    .menu
        display: flex
        justify-content: center
        .prix
            position: relative
            padding-top: 40px
            span
                position: absolute
                bottom: 0
                right: 0
                background-color: white
                opacity: 0.8
                font-size: 24px
                padding: 10px
        .card
            border: solid 50px #F2F6FF
            background-color:  #F2F6FF
            margin: 0 50px
            h3
                background-color: #F2F6FF
                margin: 0
                border-bottom: solid 1px #D9DDE5
                font-weight: bold
                font-size: 40px
                padding-bottom: 5px
        .texte
            padding: 15px 20px
            span
                font-size: 25px
                font-weight: bold
            p
                font-size: 20px
                color: #9A9A9A
                
                



